%aside
  %ul.doc-sidebar__first-level
    %li
      = nav_link 'Home', '/docs/index.html'
      %ul.doc-sidebar__second-level
        %li= link_to 'What is Nakama?', '/docs/index.html#_what_is_nakama'
        %li= link_to 'Supported Operating Systems', '/docs/index.html#_supported_operating_systems'
        %li= link_to 'Getting Started', '/docs/index.html#_getting_started'
        %li= link_to 'Popular Docs', '/docs/index.html#_popular_docs'
        %li= link_to 'Developer Training', '/docs/index.html#_developer_training'
    %li
      %a(href="https://github.com/heroiclabs/nakama/releases") Download Nakama
    %li
      = link_to 'Setup', '/docs/setup/index.html'
      %ul.doc-sidebar__second-level
        %li= nav_link 'Install', '/docs/setup/install.html'
        %li= nav_link 'Upgrades', '/docs/setup/upgrades.html'
        /
          %li= nav_link 'Recommended Production Settings', '/docs/setup/recommended-production-settings.html'
    %li= nav_link 'Configure', '/docs/configure.html'
    %li= nav_link 'Start Server', '/docs/start-server.html'
    /
      %li
        = nav_link 'Admin', '/docs/admin/index.html'
        %ul.doc-sidebar__second-level
          %li= nav_link 'Cluster Management', '/docs/admin/cluster-management.html'
          %li= nav_link 'Dashboard', '/docs/admin/dashboard.html'
      %li= link_to 'Managed Cloud', '/services.html'
    %li
      = link_to 'Clients', '/docs/clients/index.html'
      %ul.doc-sidebar__second-level
        %li= nav_link 'Unity', '/docs/clients/unity.html'
        /
          %li= nav_link 'Defold', '/docs/clients/defold.html'
          %li= nav_link 'Unreal', '/docs/clients/unreal.html'
    %li
      = link_to 'Development', '/docs/development/index.html'
      %ul.doc-sidebar__second-level
        %li= nav_link 'User', '/docs/development/user.html'
        %li= nav_link 'Friends', '/docs/development/friends.html'
        %li= nav_link 'Groups', '/docs/development/groups.html'
        %li= nav_link 'Realtime Chat', '/docs/development/realtime-chat.html'
        %li= nav_link 'Realtime Multiplayer', '/docs/development/realtime-multiplayer.html'
        %li= nav_link 'Storage', '/docs/development/storage.html'
    /
      %li
        = nav_link 'Server Internals', '/docs/server-internals/index.html'
        %ul.doc-sidebar__second-level
          %li= nav_link 'Protocol', '/docs/server-internals/protocol.html'
          %li= nav_link 'Architecture', '/docs/server-internals/architecture.html'
          %li= nav_link 'Realtime', '/docs/server-internals/realtime.html'
          %li= nav_link 'Consistency Semantics', '/docs/server-internals/consistency-semantics.html'
          %li= nav_link 'FAQ', '/docs/server-internals/faq.html'
    %li= nav_link 'Support', '/docs/support.html'
    %li
      %a(href="https://github.com/heroiclabs/nakama" target="_blank") Contribute
    %li
      %a(href="https://github.com/heroiclabs/nakama/blob/master/CHANGELOG.md" target="_blank") Release Notes
      %ul.doc-sidebar__second-level
        %li
          %a(href="https://github.com/heroiclabs/nakama/releases/v0.11.1") 0.11.1
          %a(href="https://github.com/heroiclabs/nakama/releases/v0.11.0") 0.11.0
          %a(href="https://github.com/heroiclabs/nakama/releases/v0.10.0") 0.10.0
