%aside
  %ul
    %li
      = link_to 'Home', '/docs/index.html'
      %ul
        %li= link_to 'What is Nakama?', '/docs/index.html#_what_is_nakama'
        %li= link_to 'Supported Operating Systems', '/docs/index.html#_supported_operating_systems'
        %li= link_to 'Getting Started', '/docs/index.html#_getting_started'
        %li= link_to 'Popular Docs', '/docs/index.html#_popular_docs'
        %li= link_to 'Developer Training', '/docs/index.html#_developer_training'
    %li
      %a(href="https://github.com/heroiclabs/nakama/releases") Download Nakama
    %li
      = link_to 'Setup', '/docs/setup/index.html'
      %ul
        %li= link_to 'Install', '/docs/setup/install.html'
        %li= link_to 'Upgrades', '/docs/setup/upgrades.html'
        %li= link_to 'Recommended Production Settings', '/docs/setup/recommended-production-settings.html'
    %li= link_to 'Configure', '/docs/configure.html'
    %li= link_to 'Start Server', '/docs/start-server.html'
    %li
      = link_to 'Admin', '/docs/admin/index.html'
      %ul
        %li= link_to 'Cluster Management', '/docs/admin/cluster-management.html'
        %li= link_to 'Dashboard', '/docs/admin/dashboard.html'
    %li= link_to 'Managed Cloud', '/services.html'
    %li
      = link_to 'Clients', '/docs/clients/index.html'
      %ul
        %li= link_to 'Unity', '/docs/clients/unity.html'
        %li= link_to 'Defold', '/docs/clients/defold.html'
        %li= link_to 'Unreal', '/docs/clients/unreal.html'
    %li
      = link_to 'Development', '/docs/development/index.html'
      %ul
        %li= link_to 'User', '/docs/development/user.html'
        %li= link_to 'Friends', '/docs/development/friends.html'
        %li= link_to 'Groups', '/docs/development/groups.html'
        %li= link_to 'Storage', '/docs/development/storage.html'
        %li= link_to 'Realtime Chat', '/docs/development/realtime-chat.html'
        %li= link_to 'Realtime Multiplayer', '/docs/development/realtime-multiplayer.html'
    %li
      %a(href="/docs/protocol/index.html") Protocol
    %li
      = link_to 'Server Internals', '/docs/server-internals/index.html'
      %ul
        %li= link_to 'Architecture', '/docs/server-internals/architecture.html'
        %li= link_to 'Realtime', '/docs/server-internals/realtime.html'
        %li= link_to 'Consistency Semantics', '/docs/server-internals/consistency-semantics.html'
        %li= link_to 'FAQ', '/docs/server-internals/faq.html'
    %li= link_to 'Support', '/docs/support.html'
    %li
      %a(href="https://github.com/heroiclabs/nakama" target="_blank") Contribute
    %li
      %a(href="https://github.com/heroiclabs/nakama/releases" target="_blank") Release Notes
      %ul
        %li
          %a(href="https://github.com/heroiclabs/nakama/releases/0.10.0") 0.10.0
