!!! 5
%html.no-js{lang: "en"}
  %head
    %meta{"http-equiv" => "X-UA-Compatible", content: "IE=edge"}
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"}

    %title
      = current_page.data.title || "Heroic Labs | Open-source server for social and real-time games."

    %link{href: "//fonts.googleapis.com/css?family=Lato:300,400", rel: "stylesheet", type: "text/css"}

    -# FIXME
      = stylesheet_link_tag(:site)
    = javascript_include_tag(:all)

  %body{class: page_classes()}
    = partial "sidebar"
    = yield
